@import '../../assets/styles/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;

  .date {
    font-size: var(--text-h5, $text-h5);
    color: var(--color-accent, $color-accent);
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .text {
  }
}
