@import 'mixins';

$color-background: #f7f8fa;
$color-background-alpha: toRGBA($color-background, 0.5);
$color-background-alt: #fff;
$color-background-alt-contrast: #4d5458;
$color-gray-line: #dcdde0;
$color-text: #25292a;
$color-text-alt: #fff;
$color-text-gray: #a7a7a7;
$color-text-label: #fff;
$color-text-disabled: #dbdbdb;
$color-text-highlight: #0f9ad7;
$color-primary: #1076c4;
$color-accent: #0f9ad7;
$color-accent-active: darken(#1076c4, 10);
$color-secondary: #4d5458;
$color-secondary-light: lighten(#4d5458, 10);
$color-warning: #ffa061;
$color-error: #ff6961;
$color-card-shadow: rgba(15, 154, 215, 0.2);

$color-background-dark: #525252;
$color-background-dark-alpha: toRGBA($color-background-dark, 0.5);
$color-gray-line-dark: #5a5a5a;
$color-text-dark: #e4e4e4;
$color-text-gray-dark: #dbdbdb;
$color-text-label-dark: #aaaaaa;
$color-text-disabled-dark: #686868;
$color-container-shadow-dark: rgba(255, 255, 255, 0.5);
