@import '../../assets/styles/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 7.5rem;

  .railway {
  }

  .textWrapper {
    padding: 0 3rem;
    position: relative;
    color: var(--color-text-alt, $color-text-alt);
    display: flex;
    flex-direction: column;

    text-align: center;
    text-shadow: 0 0 5px var(--color-text, $color-text);

    @include tablet-up {
      font-size: var(--text-h5, $text-h5);
    }

    .title {
      margin-bottom: 2rem;
    }

    .subtitle {
    }
  }

  .icons {
    margin-top: 2rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90vw;

    @include tablet-up {
      width: 90vw;
      margin-top: 4rem;
    }

    .icon {
      margin: 0 1rem !important;
      transition: opacity 0.5s ease;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    img {
      object-fit: contain;
      height: 80px !important;

      @include tablet-up {
        height: 100px !important;
      }
    }

    :nth-child(1) {
      order: 4;
      filter: contrast(1);
    }
    :nth-child(2) {
      order: 1;
      filter: contrast(1);
    }
    :nth-child(3) {
      order: 2;
      filter: contrast(1.5);
    }
    :nth-child(4) {
      order: 3;
      filter: contrast(1);
    }
    :nth-child(5) {
      order: 5;
    }

    @include tablet-up {
      :nth-child(1) {
        order: 1;
      }
      :nth-child(2) {
        order: 2;
      }
      :nth-child(3) {
        order: 3;
      }
      :nth-child(4) {
        order: 4;
      }
      :nth-child(5) {
        order: 5;
      }
    }
  }

  .button {
    margin: 3rem 0;
  }
}
